<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Книга рецептов</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/new.css" type="text/css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="black" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo" style="        color: red;
        font-family: 'Lobster', cursive; font-size: 50px;"> <img src="css/baker.svg" width="40" height="40" color="red" alt="image description">Кулинар</a>
            <ul class="right hide-on-med-and-down navbar_new" style=" font-size: 20px;">
                @{
                    if (Model.user != null)
                    {
                        if (Model.user.AdminRole)
                        {
                            <li><a href="@Url.Page("/AddRecipe", new { login = Model.user.Login})">Добавить рецепт</a></li>
                        }
                        <li><a href="@Url.Page("/Index", new { login = Model.user.Login})">Главная</a></li>
                        <li><a href="@Url.Page("/Index")">Выход</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Page("/Index")">Главная</a></li>
                        <li><a href="@Url.Page("/Login")">Вход</a></li>
                    }

                }
            </ul>
        </div>
    </nav>

    <div id="index-banner" class="parallax-container">
        <div class="parallax"><img src="food-consumption-singapore.jpg" alt="Unsplashed background img 1"></div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>

    </div>


    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="Hub_CoronavirusFood_Social.jpg" alt="Unsplashed background img 2"></div>
    </div>



    <footer class="page-footer black">
        <div class="footer-copyright">
            <div class="container">
                Made by Burakov 2020
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>

</body>
</html>
