@page
@model RecipeApp.Pages.IndexModel
@{
    ViewData["Title"] = "Список рецептов";
}
<h2>@ViewData["Title"]</h2>

@foreach (var recipe in Model.recipes)
{
    <div class="col l4 s12 m7">
        <div class="card">
            <div class="card-image">
                <img src=@recipe.Image>
                <span class="card-title">@recipe.Name</span>
            </div>
            <div class="card-content">
                <p>
                    @recipe.Description
                </p>
            </div>
            <div class="card-action">
                <a href=@Url.Page("/Recipe_ingredient", new { id = recipe.id })>Подробный рецепт</a>
            </div> 
        </div>
    </div>
}

    @*<table class="table">
        <thead>
            <tr><th>id</th><th>Name</th><th>Make Time</th><th>Description</th></tr>
        </thead>
        <tbody>
            @foreach (var recipe in Model.recipes)
            {
                <tr><td>@recipe.Name</td><td>@recipe.Image</td><td>@recipe.Description</td></tr>
            }
        </tbody>
    </table>*@
