@page
@model RecipeApp.Pages.Recipe_IngredientModel

@{
    ViewData["Title"] = "Подробный рецепт";
}
<h2>@ViewData["Title"]</h2>
@{var recipe = Model.recipe_Ingredient;}
<h3>@recipe.Name</h3>
    <table class="table">
        <tbody>
            @foreach (var type in Model.recipe_Types.Where(id => id.RecipeId == recipe.id))
            {
                <tr>@type.type.Name</tr>
            }

        </tbody>
    </table>
    <img src=@recipe.Image>
    <a href=@Url.Page("/AddIngredients", new { id = Model.recipe_Ingredient.id })>Добавить ингредиенты</a>
    <a href=@Url.Page("/AddType", new { id = recipe.id })>Добавить виды рецепта</a>
    <table class="table">
        <thead>
            <tr><th>Ингредиенты</th><th>Количество</th></tr>
        </thead>
        <tbody>
        @foreach (var ing in Model.recipe_Ingredients.Where(id => id.RecipeId == recipe.id))
        {
            <tr>
                <td>@ing.Ingredient.Name</td>
                <td>@ing.Quantity</td>
            </tr>
        }           
        </tbody>
    </table>