@page
@model RecipeApp.Pages.Recipe_IngredientModel

@{
    ViewData["Title"] = "Подробный рецепт";
}
<h2>@ViewData["Title"]</h2>
@{var recipe = Model.recipe_Ingredient;}
<h3>@recipe.Name</h3>
    <table class="table">
        <tbody>
            @*<tr>@recipe.Recipe_Type.type.Name</tr>*@
        </tbody>
    </table>
    <img src=@recipe.Image>
    <table class="table">
        <thead>
            <tr><th>Ingredients</th><th>Quantity</th><th>Measurement</th></tr>
        </thead>
        <tbody>
        @foreach (var ing in Model.recipe_Ingredients.Where(id => id.Recipe_Type.id == recipe.id))
        { 
            <tr>
                <td>@ing.Ingredient.Name</td>
                <td>@ing.Quantity</td>
                <td>@ing.Ingredient.measurement.Name</td>
            </tr>
        }           
        </tbody>
    </table>